* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #717171;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
  margin: 0;
}

a {
  color: #717171;
  text-decoration: none;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.container-flex {
  display: flex;
}

#sidebar {
  width: 200px;
  height: calc(100% - 100px);
  background-color: #000;
  float: left;
  padding: 30px 15px;
  overflow-y: hidden;
}

#sidebar-header {
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

#sidebar-logo {
  padding: 10px 0;
}

#sidebar-logo img {
  width: 70%;
}

.list-unstyled {
  list-style-type: none;
}

#sidebar-menu {
  padding: 10px 0;
}

#sidebar-menu nav ul li {
  line-height: 20px;
}

#sidebar-menu nav ul li:not(:last-child) {
  margin-bottom: 10px;
}

#sidebar-menu img {
  width: 15%;
  color: #717171;
}

#sidebar-menu img,
#sidebar-menu a {
  vertical-align: middle;
}

#sidebar-menu .active {
  color: #fff;
}

#sidebar-playlists {
  padding: 10px 0;
}

#sidebar-playlists h4 {
  margin-bottom: 10px;
}

#sidebar-playlists nav ul li:not(:last-child) {
  margin-bottom: 10px;
}

#sidebar-playlists .add-playlist {
  line-height: 30px;
  margin-bottom: 10px;
}

#sidebar-playlists .add-button {
  width: 30px;
  height: 30px;
  background-color: #717171;
  color: #000;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

#sidebar-playlists .add-playlist span {
  margin-left: 10px;
  font-size: 1rem;
  vertical-align: middle;
}

#sidebar-footer {
  height: 150px;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

#sidebar-user {
  position: absolute;
  bottom: 0;
}

#sidebar-user .download-app {
  margin-bottom: 10px;
}

#sidebar-user .download-app span {
  margin-left: 10px;
}

#sidebar-user .divisor {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

#sidebar-user .profile {
  line-height: 20px;
}

#sidebar-user .profile .user-icon {
  height: 20px;
  width: 20px;
  background-color: #717171;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

#sidebar-user .profile h5 {
  display: inline-block;
  margin-left: 10px;
}

#calltoaction {
  height: 100px;
  line-height: 100px;
  width: calc(100% - 200px);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

#calltoaction button {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 15px;
}

#home {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #141922;
}

#player {
  width: 100%;
  height: 100px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 576px) {
  #sidebar-logo-xs,
  #sidebar-menu-xs,
  #sidebar-playlists-xs,
  #sidebar-user-xs {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #sidebar {
    width: 50px;
    padding: 15px 15px;
    overflow-y: hidden;
  }

  #sidebar-header {
    justify-content: flex-start;
  }

  #sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #sidebar-logo,
  #sidebar-menu,
  #sidebar-playlists,
  #sidebar-user {
    display: none;
  }

  #sidebar-logo-xs {
    height: 5%;
  }

  #sidebar-menu-xs {
    height: 15%;
    margin-top: 15px;
  }

  #sidebar-user-xs {
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #sidebar-user-xs .user-icon {
    height: 20px;
    width: 20px;
    background-color: #717171;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;
  }

  #calltoaction {
    width: calc(100% - 50px);
  }
}
