* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #717171;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

a {
  color: #717171;
  text-decoration: none;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.container-flex {
  display: flex;
}

#sidebar {
  width: 200px;
  height: calc(100vh - 100px);
  float: left;
  background-color: #000;
}

#sidebar-logo img {
  width: 70%;
}

.sidebar-element {
  margin-top: 30px;
  margin-left: 15px;
  overflow: hidden;
}

.list-unstyled {
  list-style-type: none;
}

#sidebar-menu nav ul li {
  line-height: 20px;
}

#sidebar-menu nav ul li:not(:last-child) {
  margin-bottom: 10px;
}

#sidebar-menu img {
  width: 15%;
  color: #717171;
}

#sidebar-menu img,
#sidebar-menu a {
  vertical-align: middle;
}

#sidebar-menu .active {
  color: #fff;
}

#sidebar-playlists nav ul li:not(:last-child) {
  margin-bottom: 10px;
}

#sidebar-playlists .add-playlist {
  line-height: 30px;
  margin-bottom: 10px;
}

#sidebar-playlists .add-button {
  width: 30px;
  height: 30px;
  background-color: #717171;
  color: #000;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
}

#sidebar-playlists .add-playlist a {
  margin-left: 10px;
  font-size: 1rem;
}

#calltoaction {
  height: 100px;
  line-height: 100px;
  width: calc(100% - 200px);
  background-color: #000;
  opacity: 50%;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

#calltoaction button {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 15px;
}

#home {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #141922;
}

#player {
  width: 100vw;
  height: 100px;
  background-color: #282828;
}
